@import './base.css';
@import './animations.css';

#app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100vmin;
  overflow: clip;
}

* {
  scrollbar-color: var(--scrollbar-color, #00000080) transparent;
  scrollbar-width: thin;
}

:root {
  --modal-z: 1000;
  --nav-mobile-z: 100;
  --nav-backdrop-z: 99;
  --nav-z: 50;

  --hide-duration: 0.5s;
}

@font-face {
  font-family: 'Handjet';
  src: url(/fonts/Handjet.ttf);
}

@font-face {
  font-family: 'go3v2';
  src: url(/fonts/go3v2.ttf);
}

@font-face {
  font-family: 'Avenir Next';
  src: url(/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url(/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: 'Avenir Next Italic';
  src: url(/fonts/AvenirNextLTPro-It.otf);
}
