@import './base.css';

#app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100vmin;
  overflow: clip;
}

:root {
  --modal-z: 15;
  --nav-mobile-z: 10;
  --nav-backdrop-z: 7;
  --nav-z: 5;
}

@font-face {
  font-family: "Handjet";
  src: url(/public/fonts/Handjet.ttf);
}

@font-face {
  font-family: "go3v2";
  src: url(/public/fonts/go3v2.ttf);
}

@font-face {
  font-family: "Avenir Next";
  src: url(/public/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(/public/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Avenir Next Italic";
  src: url(/public/fonts/AvenirNextLTPro-It.otf);
}