@import './base.css';

#app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100vmin;
  overflow: clip;
}

* {
  scrollbar-color: var(--scrollbar-color, #00000080) transparent;
  scrollbar-width: thin;
}

:root {
  --modal-z: 15;
  --nav-mobile-z: 10;
  --nav-backdrop-z: 7;
  --nav-z: 5;

  --hide-duration: .5s;
}

@font-face {
  font-family: "Handjet";
  src: url(/fonts/Handjet.ttf);
}

@font-face {
  font-family: "go3v2";
  src: url(/fonts/go3v2.ttf);
}

@font-face {
  font-family: "Avenir Next";
  src: url(/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Avenir Next Italic";
  src: url(/fonts/AvenirNextLTPro-It.otf);
}