@import './base.css';

#app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100vmin;
  overflow: clip;
}

:root {
  --modal-z: 15;
  --nav-mobile-z: 10;
  --nav-backdrop-z: 7;
  --nav-z: 5;
}