div.face.intro {
    --content-color: rgb(2, 2, 18);
}

.face .intro {
    background-color: var(--content-color);
    padding: 0px !important;
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#snake {
    position: sticky;
    top: 0;
    width: 100vw;
    height: min(100vh, 100dvh);
}

.welcome {
    position: absolute;
    top: 30%;
    left: 10%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.welcome {
    color: #FFF;
    font-family: Handjet;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome h1 {
    color: #FFF;
    font-family: Handjet;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome .name {
    background: linear-gradient(180deg, #F5BF00 0%, #ED4B05 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Handjet;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome .cred {
    color: #FF0076;
    font-family: Handjet;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcome .wave {
    display: inline-block;
    position: absolute;
    aspect-ratio: 1/1;
    height: 3rem;
    margin-left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(/public/images/intro/wave.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.light-bottom,
.light-top {
    filter: blur(5px);
    position: absolute;
    height: 345px;
    width: 765px;
    background-repeat: no-repeat;
}

.light-top {
    top: -5px;
    left: -5px;
    background-image: url(/public/images/intro/glow-top.svg);
}

.light-bottom {
    bottom: -5px;
    right: -5px;
    background-image: url(/public/images/intro/glow-bottom.svg);
}