.side1 {
    background-color: gold;
}

.side2 {
    background-color: rebeccapurple;
}

.side3 {
    background-color: red;
}

.side4 {
    background-color: chocolate;
}

.side5 {
    background-color: wheat;
}

.side6 {
    background-color: palevioletred;
}