@font-face {
    font-family: "go3v2";
    src: url(/public/fonts/go3v2.ttf);
}

.socials {
    padding: 0px !important;
    background-color: rgb(138, 90, 75);
    background-image: url(/public/images/socials/game/woodPlankBackground.jpg);
    background-repeat: repeat;
    background-position: 50%;
    background-blend-mode: multiply;
}

.socials .options {
    pointer-events: none;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    margin-top: 105px;
    margin-bottom: 105px;
}

.socials .options .gif {
    position: absolute;
    left: 0px;
    top: 0px;
}

.socials .links {
    padding-top: 10vh;
    min-height: 80vh;
    width: max(80%, 410px) !important;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.socials .links .grow {
    min-width: 410px;
    flex: 1 0 30%;
}

.socials .options .inner {
    z-index: 1;
}

.socials .options .outer {
    z-index: 0;
}

.socials .options .hoverEvent {
    pointer-events: all;
    cursor: pointer;
    width: 102%;
    height: 102%;
    border-radius: 100%;
    position: absolute;
}

.socials .options .fnFont {
    fill: white;
    stroke: black;
    font-family: go3v2, sans-serif;
    letter-spacing: 0.15rem;
}

.socials .options img {
    width: 200px;
    height: 200px;
}

.socials .options .svg {
    transform: translate(-21%, -21%);
    width: 175%;
    height: 175%;
    position: absolute;
}

.socials .options .svg .rot {
    animation: rotSVG 20s forwards infinite linear;
}

.svg .shadow {
    position: absolute;
    left: -20px;
    top: 30px;
}

.mix {
    mix-blend-mode: multiply;
}

@keyframes rotSVG {
    from {
        rotate: calc(var(--rot, 0deg) + 360deg);
    }

    to {
        rotate: calc(var(--rot, 0deg) + 0deg);
    }
}

div.rainbowGradient {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
}

div.gradient {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(rgba(255, 47, 33, 0.5) 0% 5%, rgba(140, 9, 0, 0.5) 5% 10%, rgba(255, 47, 33, 0.5) 10% 15%, rgba(140, 9, 0, 0.5) 15% 20%, rgba(255, 47, 33, 0.5) 20% 25%, rgba(140, 9, 0, 0.5) 25% 30%, rgba(255, 47, 33, 0.5) 30% 35%, rgba(140, 9, 0, 0.5) 35% 40%, rgba(255, 47, 33, 0.5) 40% 45%, rgba(140, 9, 0, 0.5) 45% 50%, rgba(255, 47, 33, 0.5) 50% 55%, rgba(140, 9, 0, 0.5) 55% 60%, rgba(255, 47, 33, 0.5) 60% 65%, rgba(140, 9, 0, 0.5) 65% 70%, rgba(255, 47, 33, 0.5) 70% 75%, rgba(140, 9, 0, 0.5) 75% 80%, rgba(255, 47, 33, 0.5) 80% 85%, rgba(140, 9, 0, 0.5) 85% 90%, rgba(255, 47, 33, 0.5) 90% 95%, rgba(140, 9, 0, 0.5) 95% 100%);
}